.clear{
	clear:both;
}
body{
	/*background: url("images/bg.jpg");*/
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
.head-top{
	background-color: #000;
	padding:1em 0;
	margin-bottom:6em;
}
.navbar{
	background-color: #fff;
	border:none;
}
.navbar-fixed-top{
	margin-top:2em;
}
.nav{
	margin-top: 5px;
}
.navbar-default{
	padding: 1em 0;
}
.navbar-brand{
	padding:0 0;
}
.navbar-brand>img{
	height:auto;
	width:auto;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;

}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
	/*background-color: #000;*/
	color:red;
	/*border-radius:6px;*/
}
/*.main{
	margin-top:6em;
}*/
hr{
	margin:2em 0px;
}
.blog_list h2{
line-height: 1.5em;
font-size:1.5em;
}
.blog_list h5{
text-transform:capitalize;
line-height: 1.5em;
font-size:1.2em;
color: #202227;
}
.blog_list h5 a{
color:rgba(0,0,0,0.3);
transition: 0.9s;
padding: 10px;
}
.blog_list h5 a:hover{
color: #202227;
}
.blog_para p{
margin: 2% 0;
}
.blog_para p a{
float: left;
margin-right: 5%;
}

.blog_para p a img{
margin-top: 10px;
}
.read_more1{
margin-top: 2%;
}
p.para{
color: #000000;
line-height: 1.8em;
font-size: 1em;
}
.btn_s {
padding: 8px 16px;
border: 1px solid #ffffff;
background:#366;
display: inline-block;
font-size: 0.8em;
text-transform: uppercase;
color: #ffffff;
transition: 0.9s;
}
.btn_s:hover {
background: #000000;
}
.footer{
	color:#fff;
	background-color: #000;
	height:50px;
	line-height: 50px;
}
.footer-left{
	float:left;
}
.footer-right{
	float:right;
}
.glyphicon{
	/*font-size:1.2em;*/
	padding-right:5px;
}
