
#logo{
	
    width: 100%;  
    height: 65px;   
    background: #FFF;    
	position:absolute;
	top: 0; 
}

#logo1{
    width: 100%;  
    height: 65px;   
    background: #FFF; 
	position:absolute;
	bottom:0; 
}


#tu{
    margin-left:24%;
		
}

#tu1{
    margin-left:30%;
		
}

#logo11
{
    margin-left:40.5%;	
}

#qq1
{
    margin-left:6%;	
	
}











body{
	margin:10px auto ;
	background: url("images/bg.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	color:#fff;
}
.inner-bg{
	width:35%;
	margin:50px auto ;
	margin-top:200px;
	background-color: rgba(0,0,0,0.5);
	padding:10px;
}