body{
	background-color: #fff;
}
.clear{
	clear:both;
}
.phoneimg{
	border:1px solid red;
	padding:1%;
	/*height:500px;*/
}
.ollist{
	list-style-type:none;
	margin:0;
	margin-top:2%;
	float:left;
	width:100%;
}
.ollist li{
	float:left;
	margin-right:1%;
	border:1px solid white;
}
.ollist li:hover{
	border:1px solid red;
}
.ollist li.active{
	border:1px solid red;
}
/*取消轮播图左右按键阴影*/
.carousel > .left, .carousel > .right {
background-image: none;
}
/*标题*/
#title
{
	font-family:微软雅黑 ;
	font-size:20px;
	color:red;
	font-weight:bold;
	}
/*子标题*/
#introduction
{
	font-size:12px;
	color:#063;
	}
/*行头*/
#head
{
	margin-right:5px;
	font-size:12px;
	color:#666;
	}
.chioce{
	margin-bottom:5px;
}
#price
{
	margin-top:10px;
	margin-bottom: 10px;
	padding:20px;
	}
#price2
{
	font-size:18px;
	color:red;
	font-weight:bold;
	}
#price3
{
	margin-bottom:12px;
	}
a.jjtz
{
	color:#666;
	float:right;
}
a.jjtz:hover
{
	text-decoration:none;
	}
.number{
	width:40px;
	height:40px;
	color:red;
	font-size:20px;
	text-align:center;
	}
.btn-default{
	transition:1s all ease;
	}
.btn-default:hover{
		background-color:#FF3939;
		color:#FFF;
	}
.btn-danger{
	color:#FFF;
	transition:1s all ease;
	}
.btn-danger:hover{
		background-color:#80CE89;
		
	}
.phoneimg
{
	margin-top:30px;
	}
	
	.head-top{
	background-color: #000;
	padding:1em 0;
}
.navbar{
	background-color: #fff;
	border:none;
	margin-bottom: 0px;
}
.nav{
	margin-top: 5px;
}
.navbar-default{
	padding: 1em 0;
}
.navbar-brand{
	padding:0 0;
}
.navbar-brand>img{
	height:auto;
	width:auto;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
	/*background-color: #000;*/
	color:red;
	/*border-radius:6px;*/
}
.footer{
	color:#fff;
	background-color: #000;
	height:50px;
	line-height: 50px;
}
.footer-left{
	float:left;
}
.footer-right{
	float:right;
}
